@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.background {
  background-image: url("../images/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.screenContainer {
  grid-column: span 6 / span 6;
  grid-row: span 8 / span 8;
  grid-column-start: 4;
  grid-row-start: 3;
  background-color: #fcf8e8;
  border-radius: 4px;
}

.enterLayoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notesContainer {
  display: flex;
  margin-top: 20px;
}

.notes {
  word-spacing: -8px;
  margin-right: 12px;
  margin-left: 12px;
}

.textCenter {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.w-80 {
  width: 80%;
}
.w-40 {
  width: 40%;
}

.congrats {
  margin-top: 32px;
}
